.button {
    position: relative;
    display: block;
    @include appearance(none);
    margin: 0 0 0.5em;
    border: 0;
    border-radius: 3px;
    width: 100%;
    background-color: $buttons-background;
    padding: 18px 15px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: em(25px);
    letter-spacing: -1px;
    color: $buttons-color;
    cursor: pointer;

    &::after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 2px;
        height: 7px;
        box-shadow: 0 2px 0 $buttons-shadow;
        border-radius: 3px;
        content: '';
    }

    &:hover {
        background-color: $buttons-shadow;
    }

    &:only-child {
        margin: 0;
    }
}

.action-button {
    background-color: $action-buttons-background;

    &::after {
        box-shadow: 0 2px 0 $action-buttons-shadow;
    }

    &:hover {
        background-color: $action-buttons-shadow;
    }
}

.button-close {
    position: relative;
    @include appearance(none);
    overflow: hidden;
    border: 0;
    background: transparent;
    padding: 0;
    white-space: nowrap;

    &::before {
        display: inline-block;
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 26px;
        content: "\00D7";
    }
}

@include when(tablet-portrait) {
    .button {
        display: inline-block;
        width: auto;

        &.is-full-width {
            display: block;
        }
    }
}
