/// spotting map

.spotting-map {

    .canvas {
        max-width: 400px;
        max-height: 400px;
        overflow: hidden;
    }
    .marker {
        position: absolute;
        width: 110px;
        height: 110px;

        &.is-selected {
            &::after {
                position: absolute;
                top: -500px;
                left: -500px;
                right: -500px;
                bottom: -500px;
                background: url('../img/holed-mask.svg') no-repeat center center;
                content: '';
            }
        }
    }
}

@include when(tablet) {

}
