/// spotting map
@include keyframes(slideUp) {
    from {
        @include transform(translateY(0));
    }
    to {
        @include transform(translateY(-100%));
    }
}

.spotting-map {
    .canvas {
        max-width: 400px;
        max-height: 400px;
        overflow: hidden;
    }
    .marker {
        $marker-size: 110px;

        position: absolute;
        @include transform(translate(-50%, -50%));
        border-radius: 50%;
        width: $marker-size;
        height: $marker-size;
        line-height: $marker-size;
        text-align: center;

        &.is-selected {
            &::after {
                position: absolute;
                top: -500px;
                left: -500px;
                right: -500px;
                bottom: -500px;
                background: url('../img/holed-mask.svg') no-repeat center center;
                content: '';
            }
        }
    }

    .marker-controls {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        @include animation(slideUp 0.2s ease-in-out forwards);
    }
}

@include when(tablet) {

}
