*, *::before, *::after {
    box-sizing: border-box;
}

html {
    background-color: $body-background;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font: #{$default-font-size}/#{$default-line-height} $default-font-family;
    letter-spacing: -0.5px;
    color: $body-color;
}

body {
    margin: 0;
    padding: 0;
}
